body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    margin 0
}

button{
  border:none
  padding: .5rem 1rem
  transition: .3s
  &:hover{
    background: #666
    color:#fff
  }
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

#app .bg{
  position fixed
  top 0
  margin 0
  height: 100vh
  width: 100vw
  background url(https://img-blog.csdnimg.cn/2020032113405593.jpg)
  background-size: cover
  filter blur(5px)
}