h1, h2, h3, h4, h5, h6 {
    color: #2c3e50;
    font-weight: 600;
}

pre {
    line-height: 1.5rem;
    margin: 1.2em 0;
    overflow: auto;
    padding: 0 1.4rem;
    position: relative;
    word-wrap: normal;
    background-color: #f8f8f8;
    font-family: Roboto Mono, Monaco, courier, monospace;
}

img {
    width: 100%;
}

::selection {
    background: rgb(125, 211, 163);
}